#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #272727;
  color: #333;
  margin: 0;
  padding: 0;
}

.random-number-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  position: absolute; 
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.random-number-button {
    background-color: #646cff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
}

.random-number-button:hover {
  background-color: #5a5a5a;
}

.random-password-button {
  background-color: #646cff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  top: 22%;
  left: 25%;
  transform: translateX(-50%);
}

.random-password-button:hover {
  background-color: #5a5a5a;
}

.random-password-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translateX(-50%);
}

